{% extends 'base.html' %}

{% block content %}
{% block js %}
<script>
    function eliminarConfig(id){
        Swal.fire({
            "title" : "Eliminar",
            "text"  : "¿Estás seguro que deseas eliminar esta configuración?",
            "icon"  : "warning",
            "showCancelButton"  : true,
            "confirmButtonText" : "Eliminar",
            "confirmButtonColor": "#dc3545",
        })
        .then(function(result){ 
            if (result.isConfirmed){
                window.location.href = "eliminacionConfig/"+id+""
            }
        })
    }
</script>
{% endblock %}
    
    <div class="container py-4">
        {% if error %}
            <div class="alert alert-danger col-md-12" role="alert">
                {{ error }}
            </div>
        {% endif %}
        <div class="row">
            {% if not config %}  
            <div class="col-md-4">
                <h2>Configuración</h2>
                <div class="card">
                    <div class="card-body">
                        <form action="/registrarConfig/" method="POST">{% csrf_token %}

                            <div class="form-floating">
                                <input type="text" name="txtnum_puntos" class="form-control mt-2" minlength="1" maxlength="3" placeholder="Total puntos tablas cubicaje" autofocus required>
                                <label for="floatingInputGrid">Puntos tabla de cubicaje</label>
                            </div>
                            
                            <div class="form-floating">
                                <input type="text" name="txtnum_entregas" class="form-control mt-2" minlength="1" maxlength="2" placeholder="Total Entregas" autofocus required>
                                <label for="floatingInputGrid">Total Entregas</label>
                            </div>

                            <div class="form-floating">
                                <input type="text" name="txtcom_port" class="form-control mt-2" minlength="1" maxlength="12" placeholder="COM Port" autofocus required>
                                <label for="floatingInputGrid">COM Port</label>
                            </div>
                            
                            <div class="form-group mt-2">
                                <input type="submit" class="btn btn-success btn-block text-white" value="Guardar">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            {% endif %}
            {% if config %}  
            <div class="col-md-8">
                <h2>Configuración Actual</h2>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th># de puntos</th>
                                <th># de Entregas</th>
                                <th>COM Port</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for c in config %}
                            <tr>
                                <td>{{c.num_puntos}}</td>
                                <td>{{c.num_entregas}}</td>
                                <td>{{c.puerto}}</td>
                                <td><a href="edicionConfig/{{c.id}}" class="btn btn-sm btn-block btn-info"><i class="fas fa-pencil-alt"></i> Editar</td>
                                <td><a href="#" onclick="eliminarConfig({{c.id}})" class="btn btn-sm btn-block btn-danger"><i class="far fa-trash-alt"></i> Eliminar</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</body>
{% endblock %}