{% extends 'base.html' %}

{% block content %}
    
    <div class="container py-4">
        <div class="row">
            {% if not config %}  
            <div class="col-md-4">
                <h2>Configuración</h2>
                <div class="card">
                    <div class="card-body">
                        <form action="/registrarConfig/" method="POST">{% csrf_token %}
                            <div class="form-group">
                                <input type="text" name="txtnum_puntos" class="form-control" minlength="1" maxlength="3" placeholder="Total puntos tablas cubicaje" autofocus required>
                            </div>
                            <div class="form-group">
                                <input type="text" name="txtnum_entregas" class="form-control" minlength="1" maxlength="2" placeholder="Total Entregas" autofocus required>
                            </div>
                            <div class="form-group">
                                <input type="submit" class="btn btn-success btn-block text-white" value="Guardar">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            {% endif %}
            {% if config %}  
            <div class="col-md-8">
                <h2>Configuración Actual</h2>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th># de puntos</th>
                                <th># de Entregas</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for c in config %}
                            <tr>
                                <td>{{c.num_puntos}}</td>
                                <td>{{c.num_entregas}}</td>
                                <td><a href="edicionConfig/{{c.id}}" class="btn btn-sm btn-block btn-info"><i class="fas fa-pencil-alt"></i> Editar</td>
                                <td><a href="eliminacionConfig/{{c.id}}" class="btn btn-sm btn-block btn-danger"><i class="far fa-trash-alt"></i> Eliminar</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</body>
{% endblock %}