{% extends 'base.html' %}

{% block content %}
    <div class="container py-4">
        {% if error %}
            <div class="alert alert-danger col-md-12" role="alert">
                {{ error }}
            </div>
        {% endif %}
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <h2>Configuración</h2>
                <div class="card">
                    <div class="card-body">
                        <form action="/editarConfig/" method="POST">{% csrf_token %}
                            <input type="hidden" value="{{conf.id}}" name="id">

                            <div class="form-floating">
                                <input type="text" name="txtnum_puntos" class="form-control" value="{{conf.num_puntos}}" minlength="1" maxlength="3" placeholder="Número de puntos" autofocus required>
                                <label for="floatingInputGrid">Puntos tabla de cubicaje</label>
                            </div>
                            
                            <div class="form-floating">
                                <input type="text" name="txtnum_entregas" class="form-control mt-2" value="{{conf.num_entregas}}" minlength="1" maxlength="3" placeholder="Número de Entregas" autofocus required>
                                <label for="floatingInputGrid">Total Entregas</label>
                            </div>
                            
                            <div class="form-floating">
                                <input type="text" name="txtcom_port" class="form-control mt-2" value="{{conf.puerto}}" minlength="1" maxlength="12" placeholder="COM Port" autofocus required>
                                <label for="floatingInputGrid">COM Port</label>
                            </div>
                            
                            <div class="form-group mt-2">
                                <input type="submit" class="btn btn-success btn-block text-white" value="Guardar">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}