{% extends 'base.html' %}

{% block content %}
    <div class="container py-4">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <h2>Registro Tanques</h2>
                <div class="card">
                    <div class="card-body">
                        <form action="/editarTanque/" method="POST">{% csrf_token %}
                            <input type="hidden" value="{{tanque.id}}" name="id">
                            <div class="form-group">
                                <input type="text" name="txtnum_tanque" class="form-control" value="{{tanque.num_tanque}}" minlength="1" maxlength="20" placeholder="Número tanque" autofocus required>
                            </div>
                            <div class="form-group">
                                <input type="text" name="txtprodcuto" class="form-control" value="{{tanque.producto}}" minlength="3" maxlength="20" placeholder="Producto" autofocus required>
                            </div>
                            <div class="form-group">
                                <input type="text" name="txtdescripcion" class="form-control" value="{{tanque.descripcion}}" minlength="3" maxlength="20" placeholder="Clave del Producto" autofocus required> 
                            </div>
                            <div class="form-group">
                                <input type="text" name="txtcapacidad" class="form-control" value="{{tanque.capacidad}}" minlength="3" maxlength="20" placeholder="Capacidad" autofocus required>
                            </div>
                            <div class="form-group">
                                <input type="text" name="txtaltura" class="form-control" value="{{tanque.altura}}" minlength="3" maxlength="20" placeholder="Altura" autofocus required>
                            </div>
                            <div class="form-group">
                                <input type="submit" class="btn btn-success btn-block text-white" value="Guardar">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}