{% extends 'base.html' %}

{% block content %}
    
    <div class="container py-4">
        <div class="row">
            <div class="col-md-12 shadow p-3 mb-5 bg-body rounded">
                <h2>Listado de Entregas</h2>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Tanque</th>
                                <th>Fecha inicio</th>
                                <th>Fecha fin</th>
                                <th>Volumen inicial</th>
                                <th>Volumen final</th>
                                <th>Volumen CT inicial</th>
                                <th>Volumen CT final</th>
                                <th>Agua inicial</th>
                                <th>Agua final</th>
                                <th>Temperatura inicial</th>
                                <th>Temperatura final</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for c in entrega %}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td>{{c.vr_tanque}}</td>
                                <td>{{c.fecha_ini}}</td>
                                <td>{{c.fecha_fin}}</td>
                                <td>{{c.vr_volumen}}</td>
                                <td>{{c.vr_vol_ct}}</td>
                                <td>{{c.vr_agua}}</td>
                                <td>{{c.vr_temp}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}