
{% extends 'base.html' %}

{% block content %}
    <div class="container py-4">
        <div class="row">
                        
            <div class="col-md-3">
                <h2>Registro Tanques</h2>
                <div class="card">
                    <div class="card-body">
                        <form action="/registrarTanque/" method="POST">{% csrf_token %}
                            <div class="form-group">
                                <input type="number" name="txtnum_tanque" class="form-control" min="1" max="10" placeholder="Número tanque" autofocus required>
                            </div>
                            <div class="form-group">
                                <input type="text" name="txtprodcuto" class="form-control mt-2" minlength="3" maxlength="20" placeholder="Producto" autofocus required>
                            </div>
                            <div class="form-group">
                                <select name="txtdescripcion" id="txtdescripcion" class="form-control mt-2" autofocus required placeholder="--Please choose an option--">
                                <option value="32011">32011</option>
                                <option value="32012">32012</option>
                                <option value="34006">34006</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <input type="text" name="txtcapacidad" class="form-control mt-2" minlength="3" maxlength="20" placeholder="Capacidad" autofocus required>
                            </div>
                            <div class="form-group">
                                <input type="text" name="txtaltura" class="form-control mt-2" minlength="3" maxlength="20" placeholder="Altura" autofocus required>
                            </div>
                            <div class="form-group mt-2">
                                <input type="submit" class="btn btn-success btn-block text-white" value="Guardar">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            
            <div class="col-md-9">
                <h2>Listado de Tanques</h2>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th># Tanque</th>
                                <th>Producto</th>
                                <th>Clave Producto</th>
                                <th>Capacidad</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for c in tanques %}
                            <tr>
                                <td>{{c.num_tanque}}</td>
                                <td>{{c.producto}}</td>
                                <td>{{c.descripcion}}</td>
                                <td>{{c.capacidad}}</td>
                                <td><a href="edicionTanques/{{c.id}}" class="btn btn-sm btn-block btn-info"><i class="fas fa-pencil-alt"></i> Editar</td>
                                <td><a href="eliminacionTanques/{{c.id}}" class="btn btn-sm btn-block btn-danger"><i class="far fa-trash-alt"></i> Eliminar</td>
                                <td><a href="tablaCubicaje/{{c.id}}" class="btn btn-sm btn-block btn-warning"><i class="fa fa-paste"></i>Tabla Cubicaje</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}