
{% extends 'base.html' %}

{% block content %}
{% block js %}
<script>
    function eliminarTanque(id){
        Swal.fire({
            "title" : "Eliminar",
            "text"  : "¿Estás seguro de eliminar este registro?",
            "icon"  : "warning",
            "showCancelButton"  : true,
            "confirmButtonText" : "Eliminar",
            "confirmButtonColor": "#dc3545",
        })
        .then(function(result){ 
            if (result.isConfirmed){
                window.location.href = "eliminacionTanques/"+id+""
            }
        })
    }
</script>
{% endblock %}
{% block js %}
    <div class="container py-4">
        {% if error %}
        <div class="alert alert-danger col-md-12" role="alert">
            {{ error }}
        </div>
        {% endif %}
        <div class="row">
            <div class="col-md-3">
                <h2>Registro Tanques</h2>
                <div class="card">
                    
                    <div class="card-body">
                        <form action="/registrarTanque/" method="POST">{% csrf_token %}
                            <div class="form-group">
                                <input type="number" name="txtnum_tanque" class="form-control" min="1" max="4" placeholder="Número tanque" autofocus required>
                            </div>
                            <div class="form-group">
                                <input type="text" name="txtprodcuto" class="form-control mt-2" minlength="3" maxlength="20" placeholder="Producto" autofocus required>
                            </div>
                            <div class="form-group">
                                <select name="txtdescripcion" id="txtdescripcion" class="form-control mt-2" autofocus required placeholder="--Please choose an option--">
                                <option value="" disabled="disabled" selected="selected" class="grey_color">--Clave de producto--</option>
                                <option value="32011">32011</option>
                                <option value="32012">32012</option>
                                <option value="34006">34006</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <input type="number" name="txtcapacidad" class="form-control mt-2" min="1000" max="80000" placeholder="Capacidad" autofocus required>
                            </div>
                            <div class="form-group">
                                <input type="number" name="txtaltura" class="form-control mt-2" min="1" max="4000" placeholder="Altura" autofocus required>
                            </div>
                            <div class="form-group mt-2">
                                <input type="submit" class="btn btn-success btn-block text-white" value="Guardar">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            
            <div class="col-md-9">
                <h2>Listado de Tanques</h2>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th># Tanque</th>
                                <th>Producto</th>
                                <th>Clave Producto</th>
                                <th>Capacidad</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for c in tanques %}
                            <tr>
                                <td>{{c.num_tanque}}</td>
                                <td>{{c.producto}}</td>
                                <td>{{c.descripcion}}</td>
                                <td>{{c.capacidad}}</td>
                                <td><a href="edicionTanques/{{c.id}}" class="btn btn-sm btn-block btn-info"><i class="fas fa-pencil-alt"></i> Editar</td>
                                <td><a href="#" onclick="eliminarTanque({{c.id}})" class="btn btn-sm btn-block btn-danger btnEliminacion"><i class="far fa-trash-alt"></i> Eliminar</td>
                                {% if c.num_tanque == 1 %}
                                <td><a href="tablaCubicajeT1/{{c.id}}" class="btn btn-sm btn-block btn-warning"><i class="fa fa-paste"></i>Tabla Cubicaje</td>
                                {% elif c.num_tanque == 2 %}
                                <td><a href="tablaCubicajeT2/{{c.id}}" class="btn btn-sm btn-block btn-warning"><i class="fa fa-paste"></i>Tabla Cubicaje</td>
                                {% elif c.num_tanque == 3 %}
                                <td><a href="tablaCubicajeT3/{{c.id}}" class="btn btn-sm btn-block btn-warning"><i class="fa fa-paste"></i>Tabla Cubicaje</td>
                                {% elif c.num_tanque == 4 %}
                                <td><a href="tablaCubicajeT4/{{c.id}}" class="btn btn-sm btn-block btn-warning"><i class="fa fa-paste"></i>Tabla Cubicaje</td>
                                {% endif %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}
{% endblock %}